@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
main.page-bg {
  background: var(--page-bg);
  padding: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* full page */
  --page-bg: linear-gradient(to bottom, #274166, #0e1c2d);
  /* rounded */
  --rounding-small: 15px;
  --rounding-full: 1000px;

  /* glass */
  --glass-opacity: 0.4;
  --glass-color: rgba(163, 142, 213, var(--glass-opacity));

  /* colors */
  --color-text: #ffffff;
  --color-on-glass: #ffffff;
}

.page-bg {
  background: var(--page-bg);
}

.rounded {
  border-radius: var(--rounding-small);
}
.rounded_full {
  border-radius: var(--rounding-full);
}

.box {
  /* testing */
  min-height: 20px;
  min-width: 20px;
  margin: 8px;
  z-index: 2;
  position: relative; /* Added this line */
}

#progress-bar-container {
  height: 100%;
  width: 100%;
  border-radius: var(--rounding-full);
  position: relative;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 0; /* Initial width - this will change dynamically */
  background-color: #4caf50;
  position: absolute;
  bottom: 0;
  transition: width 1s ease-in-out;
}

#progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #fff;
}

.glass {
  background-color: var(--glass-color);
  backdrop-filter: blur(10px);
}

.margin-10 {
  margin: 10px;
}
.full-height {
  height: 100%;
}
.flex {
  display: flex;
}
.square {
  position: relative;
}
.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.square > .contents {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#header_nav {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden;
}
#header_nav > .header_nav_link {
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  color: var(--color-on-glass);
  text-decoration: none;
}
#header_nav > .header_nav_link:hover {
  background-color: #00000033;
}
#header_nav > .header_nav_link:first-child {
  padding-left: 40px;
}
#header_nav > .header_nav_link:last-child {
  padding-right: 40px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}
#header_text {
  margin-left: 20px;
  font-size: 1.25em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
/* sizings */

header {
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 20px;
}
#header-text {
  padding: 0 20px;
}
main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
}

#main_top {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}
#box_6 {
  width: calc(100% - 20px);
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  max-height: 350px;
  position: relative;
}

#box_6 canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#main_top_left {
  flex-basis: 20px;
  flex-grow: 5;
  flex-shrink: 0;
}
#box_5 {
  flex-basis: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 150px;
}

#main_top_left_top {
  flex-basis: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  max-height: 130px;
}
#box_1 {
  flex-basis: 20px;
  flex-grow: 4;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
#box_2 {
  flex-basis: 20px;
  flex-grow: 1;
  flex-shrink: 0;
}

#main_top_left_bottom {
  flex-basis: 20px;
  flex-grow: 2;
  flex-shrink: 0;
}
#box_3 {
  flex-basis: 20px;
  flex-grow: 2;
  flex-shrink: 0;
}
#box_4 {
  flex-basis: 20px;
  flex-grow: 1;
  flex-shrink: 0;
}

main {
  position: relative;
}
#fold_img {
  position: absolute;
  top: calc(70%);
  left: 0;
  width: 100%;
  height: auto;
}
#second_fold {
  background: #142127;
  padding: 20px;
  padding-top: 0%;
}
#myChart {
  position: relative;
  z-index: 100;
}

#piChart {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  padding-left: 0;
  padding-right: 30px;
}
#box_3 {
  overflow: hidden;
}
#smoolchart {
  width: 100% !important;
  height: auto !important;
  transform-origin: right center;
  transform: scale(1.15);
}

#eyeHealthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ccc; /* CHANGE FOR COOLIES */
}

#eyeHealthPercentage {
  font-size: 1.2em;
  font-weight: bold;
}

.box label {
  font-weight: 500;
  font-size: 16px;
  padding: 4px 7px;
  background-color: #3b2984aa;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
}
.info-box {
  padding: 20px;
  margin: 40px 0;
  opacity: 0.7;
}

.info-box p {
  opacity: 0.7;
}
#box_5 {
  overflow: hidden;
}

#progress-label {
  position: absolute;
  width: 100%;
  top: 60px;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
#progress-fill {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  animation: rise-up 1.25s 0.5s forwards;
  transform-origin: center -20px;
  opacity: 0.7;
}
#suggestions_blank {
  padding: 10px;
  margin-top: 50px;
  border-radius: 7px;
  font-size: 0.85em;
}
/* raise from top: 100% to top: 60%, while pulsing the scale unpredictably like a liquid */
@keyframes rise-up {
  0% {
    top: 100%;
    transform: scale(1);
  }
  /* 50% {
    top: 70%;
    transform: scale(1);
  }
  80% {
    top: 65%;
    transform: scaleY(1.2);
  } */
  100% {
    top: 60%;
    transform: scale(1);
  }
}
